/*
coding by :
------------------------------------------------------------------------------
--- Full Name     =>    Youssef Zouhri                                     ---
--- Address       =>    moroco, khnefra Dr ait moussa                      ---
--- E-mail        =>    profilede99@gmail.com                              ---
--- Phone         =>    +212641452606                                      ---
------------------------------------------------------------------------------
*/
// ______________________________________ start varaibles  ________________________________

:root {
  // ______________________________________ colors ______________________________________
  --main_color: #012d74;
  --main_color_alt1: #ff8031;
  --main_color_alt3: #e4bbcb;
  --main_color_alt4: #f6dfe9;
  --main_color_overlay: rgba(0, 0, 0, 0.8);
  // ______________________________________ padding section ______________________________________
  --padding_section: 50px;
}
// ______________________________________ end variables  ________________________________
