// _____________________________________ start contact _____________________________________
.contact {
  padding-top: var(--padding_section);
  padding-bottom: var(--padding_section);
  @extend %p_relative;
  background-image: url("../image/back/contact.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  &::before {
    @extend %overlay;
    background-color: var(--main_color_overlay);
  }
  .container {
    @extend %p_relative;
    h2 {
      @extend %t_center;
    }
    form {
      margin: auto;
      max-width: 800px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      grid-template-areas: "username message" "userphone message" "email message" "subject submit";
      div {
        display: flex;
        flex-direction: column;
        p {
          line-height: 1;
          font-size: 11px;
          padding: 0 15px;
          color: var(--main_color_alt1);
          text-transform: capitalize;
          font-family: Arial, Helvetica, sans-serif;
          margin: 6px 0;
          word-spacing: normal;
        }
      }
      .username {
        grid-area: username;
      }
      .userphone {
        grid-area: userphone;
      }
      .email {
        grid-area: email;
      }
      .subject {
        grid-area: subject;
      }
      .message {
        grid-area: message;
      }
      [type="submit"] {
        grid-area: submit;
        background-color: var(--main_color_alt1);
        font-family: "Charm", cursive;
        @extend %font_weight;
        @extend %c_pointer;
        @extend %t_uppercase;
        letter-spacing: 1.5px;
        border: none;
        color: var(--main_color);
        height: 41px;
      }
      input,
      textarea {
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px;
        border: 1px solid var(--main_color_alt3);
        background-color: var(--main_color_alt4);
        border-radius: 3px;
        user-select: auto;
        color: var(--main_color_overlay);
        font-size: 0.9375em;
        &.invalide {
          border: 2px solid var(--main_color_alt1);
        }
      }
      input:focus,
      textarea:focus {
        border: 2px solid var(--main_color_alt1);
        outline: none;
      }
      input::placeholder,
      textarea::placeholder {
        color: var(--main_color);
        font-family: "Charm", cursive;
        font-weight: 400;
        opacity: 0.6;
        @extend %transition1;
        font-size: 1em;
        @extend %font_style;
      }
      input:focus::placeholder,
      textarea:focus::placeholder {
        opacity: 0;
      }

      textarea {
        resize: none;
      }
    }
  }
}
@media (max-width: 600px) {
  form {
    padding: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-gap: 15px;
    grid-template-areas: "username" "userphone" "email" "subject" "message" "submit" !important;
    textarea {
      height: 150px !important;
    }
  }
}
// _____________________________________ end contact _____________________________________
