// _____________________________________ start footer _____________________________________
footer {
  @extend %t_center;
  padding-top: calc(var(--padding_section) / 3);
  padding-bottom: calc(var(--padding_section) / 3);
  background-color: var(--main_color);
  color: var(--main_color_alt1);
  @extend %t_capitalize;
  letter-spacing: 1px;
  font-size: 1rem;

  span {
    @extend %t_uppercase;
    @extend %font_weight;
    @extend %font_style;
    font-style: italic;
    font-family: "Charm", cursive;
  }
}
// _____________________________________ end footer _____________________________________
